<html>
    <head>
        <title>User Game | All</title>
    </head>
    <body>
        <% user_game.forEach(i => { %>
        <div>
            <p>Nama : <%= i.nama %></p>
            <p>Username : <%= i.username %></p>
            <p>Email : <%= i.email %></p>
            <p>Password : <%= i.password %></p>
            <a href="/user_game/create">Add</a> 
            <br>
            <a href="/user_game/update/<%= i.id %>">Update</a> 
            <br>
            <a href="/user_game/erase/<%= i.id %>">Delete</a> 

        </div>
        <%      }) %>
    </body>
</html>